body {
    background-image: url('../assets/bg-image.jpg');
    color: white;
}
/* Example from bootstrap page */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

.test {
    border: 2px solid orange;
    margin-bottom: 25px;
}

.test:nth-child(2) {
    margin-top: 25px;
    background-color: red;
}

.test .row > div {
    background-color: darkgoldenrod;
    /* margin: 5px; */
    padding: 10px;
    border: 1px solid green;
}

.image-examples .row > div {
    background-color: transparent;
    padding: 0;
}

.width-sm {
    max-width: 720px
}

.table {
    background-color: antiquewhite;
}